certifi==2022.12.7
charset-normalizer==3.1.0
icmplib==3.0.3
idna==3.4
influxdb-client==1.36.1
psutil==5.9.4
py-cpuinfo==9.0.0
pyhocon==0.3.60
pyparsing==3.0.9
pyTelegramBotAPI==4.10.0
python-dateutil==2.8.2
reactivex==4.0.4
requests==2.28.2
schedule==1.2.0
six==1.16.0
typing_extensions==4.5.0
urllib3==1.26.15
